<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>teamID</key>
	<string>3U525G584M</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.fridgefinder.fridgefinderFlutterApp</key>
		<string>626e3a6c-e65c-4303-bad7-5fd756c2e9fe</string>
	</dict>
	<key>signingStyle</key>
	<string>manual</string>
	<key>compileBitcode</key>
	<false/>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
